<div class="jumbotron">
  <div class="container">
      <h3>The man who does not read good books is no better <br>than the man who can’t</h3>
      <p> <i>- Margaret Fuller</i>

      </p>
  </div>
</div>


<div id="bookspage">
<div class="container" >
    <h1>All Books</h1>
  


    <div class="row">
      <div class="col-sm-3" *ngFor="let book of books">
        <div class="card">
            <img src="https://pbs.twimg.com/profile_images/1181583065811996673/ylZLdBGL_400x400.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">{{ book.Title }}</h5>
            <button  class="btn btn-primary btn-block" id="bt" (click)="onButtonClickView(book)">View</button>
            <button class="btn btn-warning btn-block" id="bt" (click)="onButtonClickEdit(book)">Edit</button> 
            <button class="btn btn-danger btn-block" id="bt"(click)="onButtonClick(book)">Delete</button> 

          </div>
        </div>
      </div>
    </div>
  <!--<table class="table table-bordered">
      <thead class="thead-dark">
          <tr>
              <th>Id</th>
              <th>Title</th>
              <th>Author</th>
              <th>Price</th>
              <th></th>
          </tr>
      </thead>
      <tbody>
          <tr *ngFor="let book of books">
              <td>{{ book.Id }}</td>
              <td>{{ book.Title }}</td>
              <td>{{ book.Author }}</td>
              <td>{{ book.Price }}</td>
              <td>
                  <button class="btn btn-warning " id="bt" (click)="onButtonClickEdit(book)">Edit</button> 
                  <button class="btn btn-danger " id="bt"(click)="onButtonClick(book)">Delete</button> 
              </td>
          </tr>
      </tbody>
  </table>-->

  <br>
  <hr><br>


  <h3>Add New Book</h3>
  <br>
  <form #loginForm="ngForm" (submit)="onSubmit(loginForm.value)">
              
    <div class="form-group">
      <label for="Title"><b>Title</b></label>
      <input
        type="text"
        id="Title"
        #Title="ngModel"
        name="Title"
        class="form-control"
        ngModel
      />

    </div>
    <div class="form-group">
        <label for="Author"><b>Author</b></label>
        <input
          type="text"
          id="Author"
          #Author="ngModel"
          name="Author"
          class="form-control"
          ngModel
        />
  
      </div>    <div class="form-group">
        <label for="Price"><b>Price</b></label>
        <input
          type="text"
          id="Price"
          #Price="ngModel"
          name="Price"
          class="form-control"
          ngModel
        />
  
      </div>


    
    <input
      type="submit"
      value="Add Book"
      class="btn btn-info btn-block"
    />
  </form>

  
  <br><br>
  
  </div>
</div>
  