<div class="container">
<form #loginForm="ngForm" (submit)="onSubmit(loginForm.value)">
              
    <div class="form-group">
      <label for="Title">Title</label>
      <input
        type="text"
        id="Title"
        #Title="ngModel"
        name="Title"
        class="form-control"
        ngModel
      />

    </div>
    <div class="form-group">
        <label for="Author">Author</label>
        <input
          type="text"
          id="Author"
          #Author="ngModel"
          name="Author"
          class="form-control"
          ngModel
        />
  
      </div>    <div class="form-group">
        <label for="Price">Price</label>
        <input
          type="text"
          id="Price"
          #Price="ngModel"
          name="Price"
          class="form-control"
          ngModel
        />
  
      </div>


    
    <input
      type="submit"
      value="Update Book"
      class="btn btn-info btn-block"
    />
  </form>

</div>
  
  
